version: "3.9"

services:
  sample_app:
    build:
      context: ./docker/nginx
      dockerfile: Dockerfile
    container_name: nginx
    ports:
      - 80:80
    networks:
      - docker-ngrok-network

  ngrok:
    build:
      context: ./docker/ngrok
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - 4040:4040
    command: ["http", "nginx:80"]
    environment:
      NGROK_AUTHTOKEN: AUTH_TOKEN
    depends_on:
      - sample_app
    networks:
      - docker-ngrok-network

networks:
  docker-ngrok-network:
    name: docker-ngrok-network
    driver: bridge
  # 外部ネットワークと接続する場合は以下のコメントを解除して使用
  # docker-app-network:
  #   external: true
